@media (min-width: 320px) and (max-width: 600px){
  footer{
    width: 100%;
    height: 500px;
  }
  .footer-logo{
    width: 100px;
    height: 100px;
  }
  .copyrights{
    padding-top: 10px;
  }
  .address{
    font-size: 10px;
  }
  .sub-add{
    width: 100%;
  }

}

footer {
  width: auto;
  height: 250px;
 background: linear-gradient(#3f3f42, #5d5d3c);
}

.footer-logo {
  width: 120px;
  height: 120px;
}
.icons{
  width: 30px;
  height: 30px;
}

.sub-foot{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.line{
  width: 2px;
  height: 170px;
  background-color: white;
}

.address{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 200px;
  align-items: center;
}
.sub-add{
 width: auto;
 padding-bottom: 20px;
 color: white;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 17px;
}

.div-address{
  padding: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.foot-icon{
  display: flex;
  column-gap: 15px;
}

.copyrights{
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}