.login-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #383B23;
}
.login-form{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: 1px solid black;
  width: 30%;
  height: 30vh;
  place-items: center;
  justify-content: center;
  background-color: #9ADA29;
  border-radius: 10px;
}

.input-login{
  width: 200px;
  height: 30px;
  text-align: center;
  border: none;
}
.title-login{
  padding-bottom: 50px;
  color: white;
}