main {
  width: 100%;
  height: 1300px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  background-color: #3B3C36;
  
}
.slider{
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}
.slide-title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  color: white;
  font-size: 30px;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
   animation: fade 12s infinite;
}


.slider .slide:nth-child(1) { animation-delay: 0s; }
.slider .slide:nth-child(2) { animation-delay: 4s; }
.slider .slide:nth-child(3) { animation-delay: 8s; }

@keyframes fade {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}

.sub-container {
  width: 70%;
  padding: 50px;
}

.slide1 {
  display: flex;
  justify-content: end;
}

.slide3{
  display: flex;
  justify-content: end;
}
