@media (min-width: 320px) and (max-width: 600px){
  .slide-main{
    width: 100%;
  }
  .slides-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
  }
  .sub-slides{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-radius: 10px;
  }
  .slider{
    width: 100%;
    height: 100%;
  }
  .slide{
    width: 100%;
    height: 100%;
  }
  .slide-text {
    width: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .title-ministry{
  width: 100%;
  max-width: 300px;
      display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
  }
  .youth-text{
    font-size: 40px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .reverse{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  
}



.slider {
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
   aspect-ratio: 1/1;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 12s infinite;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.slider .slide:nth-child(1) { animation-delay: 0s; }
.slider .slide:nth-child(2) { animation-delay: 4s; }
.slider .slide:nth-child(3) { animation-delay: 8s; }

@keyframes fade {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}
.slide-main{
  height: 100%;
  background-color: #383B23;
  display: flex;
  justify-content: center;
}
.slides-container{
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  height: 100%;
}
.sub-slides{
  display: flex;
  height: auto;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
    background-color: #9ADA29;

}
.slide-text{
  width: 300px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}
.reverse{
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.youth-text{
  color: white;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}