@media (min-width: 320px) and (max-width: 600px){
  .prayer{
    width: 600px;
  }
  .request-form {
    display: flex;
    flex-direction: column;
  }
  textarea{
    width: 100%;
  }
  .name-text{
    width: 150px;
  }
}

.prayer {
  width: auto;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #383B23;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.form{
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  background-color: #9ADA29;
  border-radius: 20px;
}

textarea{
  padding: 10px;
}

.name-text{
  height: 30px;
  background: linear-gradient(#f6d5f7, #fbe9d7);
  padding: 10px;
  border: none;
}
.prayer-title{
  padding-bottom: 50px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
}