.register-main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #383B23;
  flex-direction: column;
}
.register-form{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  border: 1px solid black;
  width: 50%;
  height: 70vh;
  align-items: center;
  justify-content: center;
  background-color: #9ADA29;
  border-radius: 20px;
}
.input-form{
  width: 200px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border: 1px solid transparent;
  border-image: linear-gradient(#0061ff, #60efff) 1;
  background-color: #383b23f6;
  color: white;
}

.title-reg{
  padding-bottom: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
}
.submit{
  width: 150px;
  height: 30px;
  cursor: pointer;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submit:hover{
  background-color: skyblue;
  border: none;
  color: white;
}