* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/fonts/Astrale\ Couture.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}